<!DOCTYPE html>
<html>
    <head>
        <title>尋找附近的廁所</title>
        <style>
            #map {
                height: 80vh;
                width: 100%;
            }
            #header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                background-color: #f8f9fa;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                height: 15px;
            }
            #footer {
                display: flex;
                align-items: center;
            }
            #filters {
                display: flex;
                align-items: center;
                flex-wrap: wrap; /* 在手机上让筛选条件换行显示 */
                height: 60px; /* 举例：设置为120px */
            }
            #filters label, 
            #filters select {
                font-size: 25px;
                margin-right: 10px; /* 增加間距 */
            }
            #filters select {
                width: 200px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }

            /* PC 版本样式 */
            .pc #map {
                height: 83vh;
                width: 100%;
            }

            /* 手机版本样式 */
            .mobile #map {
                height: 50vh;
                width: 100%;
            }
            
        </style>
    </head>
    <body>
        <div id="header">
            <h1>尋找附近的廁所</h1>
        </div>
        
        
        
        <div id="filters">
            <label for="toiletType">廁所類型:</label>
            <select id="toiletType" onchange="updateMap()">
                <option value="all">全選</option>
                <option value="女廁所">女廁所</option>
                <option value="男廁所">男廁所</option>
                <option value="無障礙廁所">無障礙廁所</option>
                <option value="混合廁所">混合廁所</option>
                <option value="性別友善廁所">性別友善廁所</option>
                <option value="親子廁所">親子廁所</option>
            </select>
            <label for="placeType">場所類型:</label>
            <select id="placeType" onchange="updateMap()">
                <option value="all">全選</option>
                <option value="加油站">加油站</option>
                <option value="鐵路局">鐵路局</option>
                <option value="餐廳">餐廳</option>
                <option value="寺廟教堂等宗教活動場所">寺廟教堂等宗教活動場所</option>
                <option value="市場">市場</option>
                <option value="森林遊樂區">森林遊樂區</option>
                <option value="文化育樂活動場所">文化育樂活動場所</option>
                <option value="民眾團體活動場所">民眾團體活動場所</option>
                <option value="觀光地區及風景區">觀光地區及風景區</option>
                <option value="醫院">醫院</option>
                <option value="公路車站服務區及休息站">公路車站服務區及休息站</option>
                <option value="捷運車站">捷運車站</option>
                <option value="量販店">量販店</option>
                <option value="各級機關學校">各級機關學校</option>
                <option value="公園">公園</option>
                <option value="戲院">戲院</option>
                <option value="百貨公司">百貨公司</option>
                <option value="公家機關設置供民眾使用者">公家機關設置供民眾使用者</option>
                <option value="超市">超市</option>
                <option value="各級社教機關">各級社教機關</option>
                <option value="旅館">旅館</option>
                <option value="航空站">航空站</option>
                <option value="公營事業機構設置供民眾使用者及其他">公營事業機構設置供民眾使用者及其他</option>
                <option value="娛樂場所">娛樂場所</option>
                <option value="高鐵">高鐵</option>
                <option value="港區">港區</option>
            </select>
            <label for="grade">等級:</label>
            <select id="grade" onchange="updateMap()">
                <option value="all">全選</option>
                <option value="特優級">特優級</option>
                <option value="優等級">優等級</option>
                <option value="普通級">普通級</option>
                <option value="不合格">不合格</option>
            </select>
            <label for="administration">主管機關:</label>
            <select id="administration" onchange="updateMap()">
                <option value="all">全選</option>
                <option value="其他">其他</option>
                <option value="交通部">交通部</option>
                <option value="經濟部">經濟部</option>
                <option value="縣市政府">縣市政府</option>
                <option value="農業部">農業部</option>
                <option value="文化部">文化部</option>
                <option value="國軍退除役官兵輔導委員會">國軍退除役官兵輔導委員會</option>
                <option value="國家科學及技術委員會">國家科學及技術委員會</option>
                <option value="衛生福利部">衛生福利部</option>
                <option value="財政部">財政部</option>
                <option value="國防部">國防部</option>
                <option value="內政部">內政部</option>
                <option value="國家發展委員會">國家發展委員會</option>
                <option value="教育部">教育部</option>
                <option value="國立故宮博物院">國立故宮博物院</option>
                <option value="原住民族委員會">原住民族委員會</option>
                <option value="客家委員會">客家委員會</option>
                <option value="行政院">行政院</option>
                <option value="環境部">環境部</option>
                <option value="司法院">司法院</option>
                <option value="外交部">外交部</option>
                <option value="法務部">法務部</option>
                <option value="勞動部">勞動部</option>
                <option value="中央選舉委員會">中央選舉委員會</option>
                <option value="國家通訊傳播委員會">國家通訊傳播委員會</option>
                <option value="中央銀行">中央銀行</option>
                <option value="立法院">立法院</option>
            </select>
        </div>
            
        </div>

        <div id="map"></div>

        <div id="footer">
            <h2 id="toiletInfo"></h2>
        </div>
        <script>
            let map;
            let markers = [];

            function initMap() {
                var isMobile = detectDeviceType(); // 检测设备类型
                // 根据设备类型添加对应的类名

                var mapDiv = document.getElementById('map');
                if (isMobile) {
                    mapDiv.classList.add('mobile');
                } else {
                    mapDiv.classList.add('pc');
                }

                // 獲取使用者位置
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var user_latitude = position.coords.latitude;
                        var user_longitude = position.coords.longitude;

                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/nearby_toilets', true);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.onload = function() {
                            if (xhr.status === 200) {
                                var nearby_toilets = JSON.parse(xhr.responseText);
                                displayToilets(nearby_toilets, user_latitude, user_longitude);
                            }
                        };
                        xhr.send(JSON.stringify({latitude: user_latitude, longitude: user_longitude}));
                    });
                } else {
                    console.log('Geolocation is not supported by this browser.');
                }
            }
            // 检测设备类型
            function detectDeviceType() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            }

            function displayToilets(toilets, user_latitude, user_longitude) {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: user_latitude, lng: user_longitude},
                    zoom: 17 // 放大一點點
                });

                // 在地圖上添加使用者標記
                var userMarker = new google.maps.Marker({
                    position: {lat: user_latitude, lng: user_longitude},
                    map: map,
                    title: 'Your Location'
                });

                // 定義廁所類型對應的顏色
                var markerColors = {
                    '女廁所': 'deeppink',
                    '男廁所': 'blue',
                    '無障礙廁所': 'dimgray',
                    '混合廁所': 'yellowgreen',
                    '性別友善廁所': 'indigo',
                    '親子廁所': 'gold'
                    // 如果有其他類型的廁所，可以在這裡添加對應的顏色
                };

                // 將地圖中心設置為使用者的位置
                map.setCenter({lat: user_latitude, lng: user_longitude});

                // 添加廁所標記
                markers = toilets.map(toilet => {
                    var markerColor = markerColors[toilet.type] || 'purple'; // 如果找不到對應的顏色，則使用預設顏色
                    var marker = new google.maps.Marker({
                        position: {lat: toilet.latitude, lng: toilet.longitude},
                        map: map,
                        title: toilet.name,
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            fillColor: markerColor,
                            fillOpacity: 1,
                            strokeColor: 'black',
                            strokeWeight: 2,
                            scale: 12 // 調整標記大小
                        }
                    });
                    marker.toiletType = toilet.type; // 添加類型信息到標記
                    marker.placeType = toilet.type2; // 添加場所類型信息到標記
                    marker.grade = toilet.grade; // 添加等級信息到標記
                    marker.administration = toilet.administration; // 添加主管機關信息到標記

                    // 為了在左下角顯示廁所名字和地址，當鼠標移至標記時顯示相應信息
                    var contentString = `${toilet.name}-${toilet.grade}___${toilet.address}`;
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    // 為了在左下角顯示廁所名字和顏色，當鼠標移至標記時顯示相應信息
                    marker.addListener('mouseover', function() {
                        document.getElementById('toiletInfo').innerText = contentString;
                    });

                    // 當鼠標移開時清除顯示
                    marker.addListener('mouseout', function() {
                        document.getElementById('toiletInfo').innerText = '';
                    });
                    return marker;
                });
            }

            function updateMap() {
                var selectedToiletType = document.getElementById('toiletType').value;
                var selectedPlaceType = document.getElementById('placeType').value;
                var selectedGrade = document.getElementById('grade').value;
                var selectedAdministration = document.getElementById('administration').value;
                markers.forEach(marker => {
                    if ((selectedToiletType === 'all' || marker.toiletType === selectedToiletType) &&
                        (selectedPlaceType === 'all' || marker.placeType === selectedPlaceType)&&
                        (selectedGrade === 'all' || marker.grade === selectedGrade)&&
                        (selectedAdministration === 'all' || marker.administration === selectedAdministration)) {
                        marker.setMap(map);
                    } else {
                        marker.setMap(null);
                    }
                });
            }

            window.onload = initMap;
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBynoB6iXHrxM6V_oc__aeKgUUC5gMi0c&callback=initMap"></script>
    </body>
</html>
